p {color:#00f;}
h1,h2,h3 {color:#0f0;}

.big {font-size:10px;}
.green {color:#0f0;}

#first {
	position: fixed; right:10px;
	display:block; float:right;
	margin: 1px; padding: 1px 1px;
	width: 160px; height: 40px;
	background: #db6f3b;
	border: 1px solid #f00;
	border-radius: 10px;
	text-align:center;
	color:rgba(0,0,0,0);
	color:#fff;
	font-size:12px;
	line-height:40px;
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}

#first:hover{background:#f00;}