<div class="header">
    <h1><a href="http://super-site.ru" title="математика программирования первый сайт">Наш сайт <span>Математика - царица наук</span></a></h1>
    <ul>
        <li><a href="/theory">Теория</a></li>
        <li><a href="/tests">Тесты</a></li>
        <li><a href="/games">Игры</a></li>
        <li><a href="/progs">Прогораммы</a></li>
        <li><a href="/about">Авторы</a></li>
    </ul>
</div>