<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			label, input, select {font-size:24px;}
			body>div {margin: 20px 0;}

			#app4 {border: 1px solid #333; width:240px;}
			#app4 div div {display:inline-block; width:30; height:30; background: #ccc; text-align:center}
		</style>
	</head>
	<body>
		<!--
			<h1 id="text" onclick="abc();">123</h1>
			<a id="link" href="#" onclick="return abc();">нажми меня</a>
			<a id="link" href="#">нажми меня</a>
		-->
		<div id="app1">
			<h1 @click="id = ++id % messages.length">{{messages[id]}}</h1>
		</div>
		
		<div id="app2">
			<input type="number" v-model="a"/>
			<select v-model="zn">
				<option value=0>+</option>
				<option value=1>-</option>
				<option value=2>*</option>
				<option value=3>/</option>
			</select>
			<input type="number" v-model="b"/>
			<label>={{res}}</label>
		</div>

		<div id="app3">
			<input type="number" v-model="a"/>
			<div v-for="i in 10">{{a}}*{{i}}={{a*i}}</div>
		</div>

		<div id="app4">
			<div v-for="y in 8">
				<div v-for="x in 8" :style="{background: (x+y)%2 ? '#333':'#ddd'}"></div>
			</div>
		</div>

		<div id="app5">
			<label>Сообщение: {{hint}}</label><br>
			<label>Попыток осталось: {{7-errors}}</label><br>
			<input type="number" v-model="a" :readonly="!active"/>
			<button @click="answer" :disabled="!active">Ответить</button>
			<button @click="reset">Заного</button>
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
		<script src="main.js"></script>
	</body>
</html>