<#import "../templates.ftl" as templates>
<@templates.progs>
    <h2>Тут лежат очень полезные программы!</h2>
    <h3>Привет ${(name??)?then(name, "неизвестный пользователь")}</h3>
</@templates.progs>