* {margin: 0; padding: 0;}
body{ background:#3c8acd;}
h1 {font-size:40px; line-height: 50px; color: #f0efff; display: inline-block; float: left;}
h2 {font-size:36px; line-height: 1; padding: 0 0 20px 0;}
h3 {font-size:32px; line-height: 1; padding: 0 0 15px 0;}
p {font-size:20px; line-height: 24px; padding:0 0 10px 0;}

.wrapper {margin: 0 auto; width: 1080px;}
.header {padding:10px 0; height: 52px;}
.header h1 {line-height: 1;}
.header h1 a {color:#fff; text-decoration: none;}
.header h1 span {display: block; font-size:12px; text-align: center;}
.header ul {float: right; margin: 10px 0 0 0; }
.header ul li {display: inline-block; margin: 0 2px;}
.header ul a {color:#fff; font-size: 24px; line-height: 30px; text-decoration: none; padding: 5px 20px; background: rgb(22, 39, 64); border-radius: 10px;}
.header ul a:hover {color:#f00; background: rgb(242, 216, 13);}

.blank {margin: 20px 0; background: #fff; border-radius: 5px; box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.4);}
.sidebar {display:inline-block; padding: 40px 20px; width: 230px; vertical-align: top;}
.sidebar a {display: block; font-size: 20px; line-height:30px; font-weight:600; color:#333; text-decoration: none;}
.sidebar a:hover {color: #910406;}
.content {display:inline-block; padding: 20px; width: 760px; vertical-align: top;}

.footer {background: rgba(10,10,10,0.30); text-align: center;}
.footer a {padding:0 5px; color:#fff; font-size: 14px; line-height: 20px;}